.navbar{
    display:flex;
    align-items: center;
    justify-content: center;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    gap:60px;
    font-size: 22px;
    font-weight: 300;
    margin:30px;
    font-family: 'Lora';
}

.nav-menu a{
    color:white;
    text-decoration: none;
}

.nav-menu a:hover{
    text-decoration:underline;
}

.nav-menu a:visited{
    color:white;
}