.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    position: relative;
    margin:40px; 
}

.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    gap: 60px;
    font-size: 22px;
    font-weight: 300;
    font-family: 'Lora';
}

.nav-menu a {
    color: white;
    text-decoration: none;
}

.nav-menu a:hover {
    text-decoration: underline;
}

.nav-menu a:visited {
    color: white;
}

/* Hamburger icon */
.hamburger {
    display: none;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
    gap: 5px;
    cursor: pointer;
    position: absolute;
    right: 20px; 
    top: 20px; 
    z-index: 1000; 

}

.hamburger .line {
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
}

/* Mobile menu visibility and transition */
@media (max-width: 768px) {
    /* Hide the menu by default */

    .navbar{
        margin: 10px;
    }
    .nav-menu {
        position: absolute;
        top: 0;
        right: 0px;
        background: linear-gradient(to bottom, #000000, #0B192C, black);
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%); /* Initially hide off-screen */
        transition: transform 0.3s ease-in-out;
    }

    /* Show the menu when it is open */
    .nav-menu.open {
        transform: translateX(0); /* Slide the menu in */
    }

    /* Display hamburger icon on mobile */
    .hamburger {
        display: flex; /* Show hamburger icon */
    }

    .nav-menu li {
        margin: 15px 0; /* Adjust space between menu items */
        font-size: 24px; /* Increase font size for better readability on mobile */
    }
}
