

.project-title p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-family: "Lora";
    font-weight: 500;
    margin-top: 60px;
    margin-bottom: 50px;
    background: linear-gradient(to bottom, #225ecd, white);
    -webkit-background-clip: text;
    color: transparent;
    outline: none;
}

.project-content ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    gap: 40px;
    justify-content: center;
}

.project-content li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
    width: 35vw;
    border: 2px solid white;
    border-radius: 20px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}

.project-content h1 {
    text-align: center;
    margin: 10px 0;
    font-size: 2.0rem;
}

.project-content img {
    height: 15rem;
    width: 25rem;
    margin: 15px 0;
    border: 2px solid white;
    box-shadow: 5px 10px 15px rgba(128, 128, 128, 0.5);
}

.project-content li p {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin: 10px 0;
    line-height: 1.5;
}

.project-content a {
    margin-top: 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* Media Query for Mobile View */
@media (max-width: 768px) {
    .project-title p {
      font-size: 32px; 
      margin-top: 35px;
      margin-bottom: 20px;
    }
  
    .project-content ul {
      flex-direction: column; 
      gap: 20px; 
      margin:20px;
    }
  
    .project-content li {
      width: 90%; 
      height: auto; 
      padding: 10px;
      margin: 10px auto; 
    }
  
    .project-content h1 {
      font-size: 1.5rem;
    }
  
    .project-content img {
      height: 11rem; 
      width: 80%; 
      border-radius: 10px; 
    }
  
    .project-content li p {
      font-size: 16px; 
      padding: 5px;
    }
  
    .project-content a {
      font-size: 16px; 
      margin-top: 10px;
    }
  }
  

  /* Media Query for Tablet View  */
@media (min-width: 768px) and (max-width: 1199px) {
    .project-title p {
      font-size: 48px; 
      margin-top: 40px;
      margin-bottom: 30px;
    }
  
    .project-content ul {
      flex-wrap: wrap; 
      gap: 30px; 
      justify-content: center; 
    }
  
    .project-content li {
      width: 45%; 
      height: auto; 
      padding: 15px;
      margin: 15px;
    }
  
    .project-content h1 {
      font-size: 1.8rem; 
    }
  
    .project-content img {
      height: 12rem; 
      width: 80%; 
      border-radius: 15px; 
    }
  
    .project-content li p {
      font-size: 18px; 
      padding: 8px;
    }
  
    .project-content a {
      font-size: 18px; 
      margin-top: 12px;
    }
  }
  